<%= form_for(@break_point) do |f| %>
  <% if @break_point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@break_point.errors.count, "error") %> prohibited this break_point from being saved:</h2>

      <ul>
      <% @break_point.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :province_id %><br />
    <%= f.select :province_id,  @provinces.collect{|p|[p.name,p.id]},selected:@break_point.province.name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>  
<% end %>