<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bus_route_id %><br />
    <%= f.number_field :bus_route_id %>
  </div>
  <div class="field">
    <%= f.label :bus_company_id %><br />
    <%= f.number_field :bus_company_id %>
  </div>
  <div class="field">
    <%= f.label :departure_date %><br />
    <%= f.text_field :departure_date %>
  </div>
  <div class="field">
    <%= f.label :arrival_date %><br />
    <%= f.datetime_select :arrival_date %>
  </div>
  <div class="field">
    <%= f.label :arrival_date %><br />
    <%= f.datetime_select :arrival_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
