<h1 id="home_title">Index</h1>
<table class="home">  
 <tr>
 	<td>Table Users</td>
 	<td><%= link_to 'Users' ,users_path %></td>
 </tr>
 <tr>
 	<td>Table Provinces</td>
 	<td><%= link_to 'Provinces' ,provinces_path %></td>
 </tr>
 <tr>
 	<td>Table Credit Cards</td>
 	<td><%= link_to 'Credit Cards', credit_cards_path %></td>
 </tr>
 <tr>
 	<td>Table BreakPoints</td>
 	<td><%= link_to 'BreakPoints' ,break_points_path %></td>
 </tr>
 <tr>
 	<td>Table Bus Companies</td>
 	<td><%= link_to 'Bus Companies' ,bus_companies_path %></td>
 </tr>
 <tr>
 	<td>Table Seat Types</td>
 	<td><%= link_to 'Seat Types' ,seat_types_path %></td>
 </tr>
 
 <tr>
 	<td>Table Bus Seat Type </td>
 	<td><%= link_to 'Bus Seat Type', bus_seat_types_path %></td>
 </tr>
 <tr>
 	<td>Table Bus Route </td>
 	<td><%= link_to 'Bus Routes', bus_routes_path %></td>
 </tr>
</table>

