<h1 id="seat_type_title"> Seat Types</h1>

<table>
  <tr>
    <th>Abbreviation</th>
    <th>Seat type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @seat_types.each do |seat_type| %>
  <tr>
    <td><%= seat_type.abbreviation %></td>
    <td><%= seat_type.seat_type %></td>
    <td><%= link_to 'Show', seat_type %></td>
    <td><%= link_to 'Edit', edit_seat_type_path(seat_type) %></td>
    <td><%= link_to 'Destroy', seat_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Seat type', new_seat_type_path %>
 &nbsp;&nbsp;
<%= link_to 'Index', root_path %>

