<p id="notice"><%= notice %></p>

<p>
  <b>Abbreviation:</b>
  <%= @seat_type.abbreviation %>
</p>

<p>
  <b>Seat type:</b>
  <%= @seat_type.seat_type %>
</p>


<%= link_to 'Edit', edit_seat_type_path(@seat_type) %> |
<%= link_to 'Back', seat_types_path %>
