<h1 id="bus_set_type_title">Bus Seat Types</h1>

<table id="bus_seat_type">
  <tr>
    <th>Seat type</th>
    <th>Company</th>
    <th class="center" colspan="4">Description</th>
    
  </tr>

<% @bus_seat_types.each do |bus_seat_type| %>
  <tr>
    <td><%= bus_seat_type.seat_type.abbreviation %></td>
    <td><%= bus_seat_type.bus_company.company %></td>
    <td><%= bus_seat_type.description %></td>
    <td><%= link_to 'Show', bus_seat_type %></td>
    <td><%= link_to 'Edit', edit_bus_seat_type_path(bus_seat_type) %></td>
    <td><%= link_to 'Destroy', bus_seat_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bus seat type', new_bus_seat_type_path %>
&nbsp;&nbsp;
<%= link_to 'Index', root_path %>
<br/>





